/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.title {
    background-color: #000000; /* Black background */
    color: #D3D3D3; /* Light gray text */
    font-family: 'Poppins', sans-serif; /* Aesthetic font */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(135deg, #1e1e1e, #2a2a2a);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Header Styles */
h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

h2 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Movie Styles */
.movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie {
    text-align: center;
    cursor: pointer;
    margin: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.movie img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.movie:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(255, 0, 0, 0.5);
}

.movie:hover img {
    transform: scale(1.1);
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
    background-color: #2a2a2a;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

/* Review Textarea Styles */
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #ffffff;
    resize: none;
    margin-bottom: 10px;
    transition: border 0.3s;
}

textarea:focus {
    outline: none;
    border: 1px solid #ff0000;
}

/* Button Styles */
button {
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
